{% extends 'base.html' %}
{% load static  %}


{% block content %}
<section  class="mt-5">
    <div class="container">
        <h1>Perfil del usuario:</h1>
        <div class="col-md-12">
            <div>
                {{ object.nombre }}
            </div>
            <div>
                {{ object.apellido }}
            </div>
            <div>
                {{ object.dni }}
            </div>
            <div>
                {{ object.numero_usuario }}
            </div>
            <img src="{{ object.photo.url }}" width="200" class="img img-fluid" alt="">
            <div class="mt-4">
                <a class="btn btn-danger" href="{% url 'perfil_borrar' object.id %}">Borrar Usuario</a>
                <a href="{% url 'perfil_lista' %}">Volver a lista de usuarios</a>
            </div>
        </div>


    </div>

</section>

{% endblock content %}